body {
    background-color: slategrey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    padding: 20px;
    overflow: hidden;
}

.header h3 {
    font-size: 60px;
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    color: gainsboro;
}

.header a {
    text-decoration: none;
    color: white;
}

.header-bg {
    width: 100%;
    background-color: darkslategrey;
}

.header img {
    margin-right: 15px;
    float: left;
    width: 150px;
}

.header p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    color: #f6f6f6;
}

.waves-block {
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.content a {
    text-decoration: none;
    color: white;
}

.content p, ul {
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    color: #f6f6f6;
}